<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OsloMet Bachelor assignment</title>
    
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script src="{{ url_for('static', filename='./proj4js-2.4.3/dist/proj4.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/ol-geocoder"></script>

    <script src="{{ url_for('static', filename='./dataframe-js/dist/dataframe.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='./sidebar-v2-master/css/ol3-sidebar.css')}}" />
    <script src="{{ url_for('static', filename='./sidebar-v2-master/js/ol3-sidebar.js')}}"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='./stylesheet.css')}}">

    <script>
        /**
        *   helper functions
        */
        
        //display index
        var display_index = 0;
        function getDisplay_index(){
          return display_index;
        }
        function setDisplay_index( a ){
          display_index = a;
        }
        
        
        //range funcs
        function getRange() {
          return document.getElementById("load_range").value; 
        }
        
        function setRange(new_val) {
          document.getElementById("load_range").value = new_val; 
        }
        
        function getContourToggle(){
          return document.getElementById("contour_toggle").value;
        }
        function setContourToggle( new_val ){
          document.getElementById("contour_toggle").value = new_val;
        }
        
        function setComponent(new_val){
          document.getElementById("component").value = new_val; 
        }
        
        function updateRange(){
          setLoadingTextVisible(true);
          setDisplay_index(0);
          updateSliderValue();
          setSliderRange(getRange());
          load_for();
        }
        
        // loaded functions
        var loaded = 0;
        function incrementLoaded(){
          loaded++;
          if (loaded == getRange()*2){
            updateMap();
            setLoadingTextVisible(false);
          }
        }
        function resetLoaded(){
          loaded = 0;
        }
    </script>

    <script type="text/javascript">
        var imageExtent = [
            593065.1648494017,
            6638524.509011956,
            605365.439142052,
            6648891.652304975
          ];
        var vectorSource = new ol.source.Vector(),
              vectorLayer = new ol.layer.Vector({
                source: vectorSource
              });
        var iconStyle = new ol.style.Style({
            image: new ol.style.Icon({
                opacity: 1,
                scale: 0.3,
                src: '{{ url_for('static', filename='./icon.png')}}' 
            })
          });
        //basemap
        var map_base_img = new ol.layer.Image({
          source: new ol.source.ImageStatic({
            url: "",
            projection: "EPSG:32632",
            imageExtent: imageExtent
          }),
          opacity: 0.65
        });
    
        //contourplot
        var map_contour = new ol.layer.Image({
          source: new ol.source.ImageStatic({
            url: "",
            projection: "EPSG:32632",
            imageExtent: imageExtent
          }),
          opacity: 0.65
        });
      
        function loadmap(){
          
         window.app = {};
          var app = window.app;
    
          proj4.defs(
            "EPSG:32632", 
            "+proj=utm +zone=32 +ellps=WGS84 +datum=WGS84 +units=m +no_defs"
          );
    
          //Some Station marker stuff end
    
          var view = new ol.View({
            center: ol.proj.transform(
              ol.extent.getCenter(imageExtent),
              "EPSG:32632",
              "EPSG:3857"
            ),
            zoom: 11,
            minZoom: 11.7,
            maxZoom: 20
          });
    
          app.Loading = function(opt_options) {
    
            var options = opt_options || {};
    
            var text = document.createElement('text');
            text.id = "loadingText";
            //Visible
            text.style.display = "block";
            //Invisible
            text.style.display = "none";
            text.innerHTML = 'Loading ⌛';
            
            var element = document.createElement('div');
            element.className = 'Loading-text ol-unselectable ol-control';
            element.appendChild(text);
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.Loading, ol.control.Control);
          
          app.HistoricSlider = function(opt_options) {
    
            var options = opt_options || {};
    
            var slider = document.createElement('input');
                slider.id = "slider";
                slider.orientation = 'vertical';
                slider.type = 'range';
                slider.min = 0;
                slider.max = 0;
                slider.value = 0;
                slider.step = 1;
                slider.addEventListener("input", function() {
                setDisplay_index( parseInt(slider.value) );
                updateMap();
              });
            
            var element = document.createElement('div');
            element.className = 'slider-control ol-unselectable ol-control';
            element.appendChild(slider);
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.HistoricSlider, ol.control.Control);
    
          app.DropDown = function(opt_options) {
    
            var options = opt_options || {};
    
            var dropdown = document.createElement('select');
                dropdown.id = "map_component";
    
                {% for df in entries: %}
                  dropdown.appendChild(new Option("{{df.loc[0, 'component']}}", "{{loop.index0}}"));
                {% endfor%}
                
                dropdown.addEventListener("change", function() {
                  setComponent( dropdown.value );
                  updateRange();
                });
                var text = document.createElement('text');
                text.innerHTML = 'Component:';
            
            var element = document.createElement('div');
            element.className = 'dropdown-control ol-unselectable ol-control';
            element.appendChild(text);
            element.appendChild(dropdown);
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.DropDown, ol.control.Control);
    
    
          app.PreviousButton = function(opt_options) {
    
            var options = opt_options || {};
    
            var button = document.createElement('button');
            button.innerHTML = '<';
            button.addEventListener("click", function() {
                  previous();
                });
            var element = document.createElement('div');
            element.className = 'previous-button ol-unselectable ol-control';
            element.appendChild(button);
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.PreviousButton, ol.control.Control);
    
          app.PlayPauseButton = function(opt_options) {
            var play = '►';
            var pause = 'II';
            var options = opt_options || {};
            var on = false;
            var slideInterval;
            var finished = false;
            var button = document.createElement('button');
            button.innerHTML = play;
            button.addEventListener("click", function() {
              if (on){
                button.innerHTML = pause;
                function nextSlide(){
                  
                  if (finished){
                    setDisplay_index(0);
                    updateSliderValue();
                    updateMap(); 
                    finished = false;
                  }else{
                    next();
                  }
                  
                  if (getDisplay_index() == getRange()-1){
                    finished = true;
                  }
                }
                slideInterval = setInterval(nextSlide,1000);
                
              }else{
                button.innerHTML = play;
                clearInterval(slideInterval);
              }
              on = !on;
            });
            
            var element = document.createElement('div');
            element.className = 'play-pause-button ol-unselectable ol-control';
            element.appendChild(button);
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.PlayPauseButton, ol.control.Control);
    
          app.NextButton = function(opt_options) {
    
            var options = opt_options || {};
    
            var button = document.createElement('button');
            button.innerHTML = '>';
            button.addEventListener("click", function() {
                  next();
                });
            
    
            var element = document.createElement('div');
            element.className = 'next-button ol-unselectable ol-control';
            element.appendChild(button);
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.NextButton, ol.control.Control);
    
          app.PositionButton = function(opt_options) {
    
            var options = opt_options || {};
    
            var button = document.createElement('button');
            button.id = "GPS";
            button.innerHTML = '📍';
    
            var this_ = this;
            var custom_button = function() {
                geolocation.setTracking(true);
                view.setCenter( geolocation.getPosition() );
            };
    
            button.addEventListener('click', custom_button, false);
            button.addEventListener('touchstart', custom_button, false);
    
            var element = document.createElement('div');
            element.className = 'position-north ol-unselectable ol-control';
            element.appendChild(button);
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.PositionButton, ol.control.Control);
    
          app.DateText = function(opt_options) {
    
            var options = opt_options || {};
    
            var text = document.createElement('text');
            text.id = "date-id";
            text.innerHTML = 'Date: 0000-00-00 00:00:00';
            
            var element = document.createElement('div');
            element.className = 'Date-text ol-unselectable ol-control';
            element.appendChild(text);
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.DateText, ol.control.Control);
          
          app.Contour = function(opt_options) {
    
            var options = opt_options || {};
    
            var checkbox = document.createElement('input');
                checkbox.id = "conCheckbox";
                checkbox.setAttribute("type", "checkbox");
                checkbox.setAttribute("value", "ff");
                checkbox.addEventListener("change", function() {
                  setContourToggle( checkbox.checked );
                  updateMap();
                });
                
            var textB = document.createElement("text"); 
            textB.innerHTML = 'Contour: ';
            var element = document.createElement('div');
            element.className = 'contour ol-unselectable ol-control';
            element.appendChild(textB);
            element.appendChild(checkbox);
    
            ol.control.Control.call(this, {
            element: element,
            target: options.target
            });
          };
          ol.inherits(app.Contour, ol.control.Control);
          
          app.Range = function(opt_options) {
    
            var options = opt_options || {};
    
            var dropdown = document.createElement('select');
                dropdown.id = "map_range";
                dropdown.appendChild(new Option(1, 1));
                {% for i, row in entries[0].iterrows(): %}
                  {% if i < 61 :%}
                    {% if i%5 == 0 :%}
                      {% if i > 1:%}
                        dropdown.appendChild(new Option({{i}}, {{i}}));
                      {% endif %}
                    {% endif %}
                    
                    {% if not i%5 == 0 :%}
                      {% if i == (entries[0].index|length - 1) :%}
                        dropdown.appendChild(new Option({{i}}, {{i}}));
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
                var text = document.createElement('text');
                text.innerHTML = 'Range: ';
                
            dropdown.addEventListener("change", function() {
              setRange( dropdown.value );
              updateRange();
            });
            
            var element = document.createElement('div');
            element.className = 'range-control ol-unselectable ol-control';
            element.appendChild(text);
            element.appendChild(dropdown);
            
    
            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });
    
          };
          ol.inherits(app.Range, ol.control.Control);
    
          var map = new ol.Map({
            controls: ol.control.defaults().extend([
              new ol.control.FullScreen(),
              new app.DropDown(),
              new app.PositionButton(),
              new app.DateText(),
              new app.HistoricSlider(),
              new app.PreviousButton(),
              new app.NextButton(),
              new app.PlayPauseButton(),
              new app.Range(),
              new app.Contour(),
              new app.Loading()
            ]),
            interactions: ol.interaction.defaults().extend([
              new ol.interaction.DragRotateAndZoom()
            ]),
            layers: [
              new ol.layer.Tile({
                source: new ol.source.OSM()
              }),
              map_base_img, 
              map_contour,
              vectorLayer
            ],
            target: "map",
            loadTilesWhileAnimating: true,
            view: view
          });
          //end of marker
    
    
          //Marker Click start
          var element = document.getElementById('popup');
    
          var popup = new ol.Overlay({
            element: element,
            positioning: 'bottom-center',
            stopEvent: false,
            offset: [0, 0]
          });
          map.addOverlay(popup);
    
          // display popup on click
          map.on('click', function(evt) {
            var feature = map.forEachFeatureAtPixel(evt.pixel,
                function(feature) {
                  return feature;//w
                });
            if (feature) {
              $(element).popover('destroy');
              var coordinates = feature.getGeometry().getCoordinates();
              popup.setPosition(coordinates);
              $(element).popover({
                'title': feature.get('name'),
                'placement': 'bottom',
                'animation': false,
                'html': true,
                'content': feature.get('content') 
              });
              $(element).popover('show');
              
              var chr = document.getElementById('chart');
              var chrs = new Chart(chr, {
                type: 'line',
                data: {
                  labels: feature.get('chart_label'),
                  datasets: [
                    { 
                      label: 'value',
                      data: feature.get('data'),
                      borderWidth: 2,
                      fill: false, 
                      borderColor: 'black'
                    },
                    { 
                      label: 'historical average',
                      data: feature.get('historical_AVG'),
                      borderWidth: 2,
                      fill: false,
                      borderColor: 'red'
                    }]
                },
                options: {
                  scales: {
                    xAxes: [{
                      type: 'time',
                      ticks: {
                        source: 'labels'
                      },
                      time: {
                        format: 'MM/DD/YYYY HH:mm',
                        tooltipFormat: 'HH:mm:ss',
                        unit: 'minute'
                      }
                    }],
                    yAxes: [{
                      ticks: {
                          // Include a dollar sign in the ticks
                          callback: function(value, index, values) {
                              return value +" "+feature.get('unit');
                          }
                      }
                    }]
                  }
                }
               });
                
            } else {
              $(element).popover('destroy');
            }
          });
    
          //Marker Click end
    
          var geolocation = new ol.Geolocation({
            projection: view.getProjection()
          });
    
          // update the HTML page when the position changes.//
          geolocation.on('change', function() {
            updateView();
          });
    
          // handle geolocation error.
          geolocation.on('error', function(error) {
            var info = document.getElementById('info');
            info.innerHTML = error.message;
            info.style.display = '';
          });
    
          var accuracyFeature = new ol.Feature();
          geolocation.on('change:accuracyGeometry', function() {
            accuracyFeature.setGeometry(geolocation.getAccuracyGeometry());
          });
    
          var positionFeature = new ol.Feature();
          positionFeature.setStyle(new ol.style.Style({
            image: new ol.style.Circle({
              radius: 6,
              fill: new ol.style.Fill({
                color: '#3399CC'
              }),
              stroke: new ol.style.Stroke({
                color: '#fff',
                width: 2
              })
            })
          }));
    
          geolocation.on('change:position', function() {
            var coordinates = geolocation.getPosition();
            positionFeature.setGeometry(coordinates ?
              new ol.geom.Point(coordinates) : null);
          });
    
          new ol.layer.Vector({
            map: map,
            source: new ol.source.Vector({
              features: [accuracyFeature, positionFeature]
            })
          });
    
          //Centers the view to where the geolocation is
          function updateView() {
            view.setCenter(geolocation.getPosition());
          }
    
          //Centers the view to where the geolocation is
          function updateView() {
            view.setCenter(geolocation.getPosition());
          }
    
    
          //Instantiate with some options and add the Control
          var geocoder = new Geocoder('nominatim', {
            provider: 'osm',
            lang: 'en',
            countrycodes : 'no',
            placeholder: 'Search for ...',
            featureStyle: '',
            limit: 5,
            debug: false,
            autoComplete: true,
            keepOpen: false
          });
          map.addControl(geocoder);
            
         
          
          var sidebar = new ol.control.Sidebar({ element: 'sidebar', position: 'right' });
          map.addControl(sidebar); 
    
        }
        
        function setImg(imgsrc){
          imgsrc = imgsrc == null ? "" : imgsrc;
          var nextimg = new ol.source.ImageStatic({
                url: imgsrc,
                projection: "EPSG:32632",
                imageExtent: imageExtent
              });
              map_base_img.setSource(nextimg);
        }
        function setContour(imgsrc){
          imgsrc = imgsrc == null ? "" : imgsrc;
          if (imgsrc == ""){
            var nextimg = new ol.source.ImageStatic({
                  //set it to 1 transparent pixel in base64 to make it update and remove old contour.
                  url: "data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=",
                  projection: "EPSG:32632",
                  imageExtent: imageExtent
                });
            map_contour.setSource(nextimg);
          }else{
            var nextimg = new ol.source.ImageStatic({
                  url: imgsrc,
                  projection: "EPSG:32632",
                  imageExtent: imageExtent
                });
                map_contour.setSource(nextimg);
          }
        }
        function setDate(date){
          text = document.getElementById("date-id");
          text.innerHTML = 'Date: ' + date;
        }
        
        function addFeature (latitude, longitude, title, content, data, historical_AVG, chart_label, unit){
          var pos = ol.proj.fromLonLat([longitude, latitude]);
          var feature = new ol.Feature({
                geometry: new ol.geom.Point(pos),
                name: title,
                content: content,
                data: data,
                historical_AVG: historical_AVG,
                chart_label: chart_label,
                unit: unit
          });
            feature.setStyle(iconStyle);
            vectorSource.addFeature(feature);
        }
        
        function clearFeatures() {
            var features = vectorLayer.getSource().getFeatures();
            features.forEach((feature) => {
                vectorLayer.getSource().removeFeature(feature);
            });
        }
        
        
        function setLoadingTextVisible( val ){
          text = document.getElementById("loadingText");
          text.innerHTML = 'Loading ⌛';
          
          if (val) {  
            text.style.display = "block";
          }else {
            text.style.display = "none";
          }
        }
        
        function setLoadingTextFailure(){
          text = document.getElementById("loadingText");
          text.innerHTML = 'Ops! something went wrong. please reload the site';
          text.style.display = "block";
        }
        
        function setSliderRange(a){
          slider = document.getElementById("slider");
          slider.max = a-1;
        }
        function updateSliderValue(){
          slider = document.getElementById("slider");
          slider.value = getDisplay_index();
        }
    </script>
    <script>
        var DataFrame = dfjs.DataFrame;
          var Row = dfjs.Row;
          
          const datafrm = [];
          {% for df in entries: %}
            datafrm[{{loop.index0}}] = new DataFrame(
            {
              column1:[
                {% for i, row in df.iterrows(): %}
                  {%if i > 0 :%}
                    {{','}}
                  {% endif %}
                  '{{row['date']}}'
                {% endfor %}
              ],
              column2:[
                {% for i, row in df.iterrows(): %}
                  {%if i > 0 :%}
                    {{','}}
                  {% endif %}
                  '{{row['component']}}'
                {% endfor %}
              ],
              column3:[
                {% for i, row in df.iterrows(): %}
                  {%if i > 0 :%}
                    {{','}}
                  {% endif %}
                    {% set sub_df = data[ row['data'] ] %}
                    new DataFrame({
                        column1: [
                          {% for i, row in sub_df.iterrows(): %}
                            {%if i > 0 :%}
                              {{','}}
                            {% endif %}
                            '{{row['component']}}'
                          {% endfor %}
                        ],
                        column2: [
                          {% for i, row in data[ row['data'] ].iterrows(): %}
                            {%if i >  0:%}
                              {{','}}
                            {% endif %}
                            '{{row['latitude']}}'
                          {% endfor %}
                        ],
                        column3: [
                          {% for i, row in data[ row['data'] ].iterrows(): %}
                            {%if i > 0 :%}
                              {{','}}
                            {% endif %}
                            '{{row['longitude']}}'
                          {% endfor %}
                        ],
                        column4: [
                          {% for i, row in data[ row['data'] ].iterrows(): %}
                            {%if i > 0 :%}
                              {{','}}
                            {% endif %}
                            '{{row['toTime']}}'
                          {% endfor %}
                        ],
                        column5: [
                          {% for i, row in data[ row['data'] ].iterrows(): %}
                            {%if i > 0 :%}
                              {{','}}
                            {% endif %}
                            '{{row['unit']}}'
                          {% endfor %}
                        ],
                        column6: [
                          {% for i, row in data[ row['data'] ].iterrows(): %}
                            {%if i > 0 :%}
                              {{','}}
                            {% endif %}
                            '{{row['value']}}'
                          {% endfor %}
                        ],
                        column7: [
                          {% for i, row in data[ row['data'] ].iterrows(): %}
                            {%if i > 0 :%}
                              {{','}}
                            {% endif %}
                            '{{row['x']}}'
                          {% endfor %}
                        ],
                        column8: [
                          {% for i, row in data[ row['data'] ].iterrows(): %}
                            {%if i > 0 :%}
                              {{','}}
                            {% endif %}
                            '{{row['y']}}'
                          {% endfor %}
                        ]
                    }, ['component',	'latitude',	'longitude',	'toTime',	'unit',	'value',	'x',	'y'])
                  {% endfor %}
              ],
              colum4:[
                {% for i, row in df.iterrows(): %}
                  {%if i > 0 :%}
                    {{','}}
                  {% endif %}
                  '{{row['_id']}}'
                {% endfor %}
              ],
              colum5:[
                {% for i, row in df.iterrows(): %}
                  {%if i > 0 :%}
                    {{','}}
                  {% endif %}
                  '{{i}}'
                {% endfor %}
              ],
              colum6:[],
              colum7:[]
            },
            ['date', 'component', 'data', '_id', 'index', 'img', 'contour']);
            
          {% endfor %}
          
          
          function getDataframeIndex(){
            return document.getElementById("component").value;
          }
          
          function getDataframe(){
            return datafrm[getDataframeIndex()];
          }
          
          function getRow(i){
            return datafrm[getDataframeIndex()].find(row => row.get('index') == i);
          }
          
          function getNullRow(){
            //a dataframe with null values
            const nulldata = new DataFrame(
            {
              column1:[null], colum2: [null], column3:[null], colum4: [null],
              column5:[null], colum6: [null], column7:[null], colum8: [null]
            }, ['component', 'latitude',  'longitude', 'toTime', 'unit', 'value', 'x', 'y']);
            var nullRow = new Row([null, null, nulldata, null, null, null, null], ['date', 'component', 'data', '_id', 'index', 'img', 'contour']);
            return nullRow;
          }
          
          function changeRowValue (index, column, value){
            var new_row = datafrm[getDataframeIndex()].find(row => row.get('index') == index);
            new_row = new_row.set(column, value);
            
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].transpose();
            
            for(var i = 0; i < datafrm[getDataframeIndex()].listColumns().length; i++){
              if (i == index){
                datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].drop(String(i));
              }
            }
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].transpose();
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].renameAll(['date', 'component', 'data', '_id', 'index', 'img', 'contour']);
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].push(new_row);
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].sortBy('date', true);
          }
          
          function changeRowValue_id (id, column, value){
            var new_row = datafrm[getDataframeIndex()].find(row => row.get('_id') == id);
            new_row = new_row.set(column, value);
            
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].transpose();
            
            for(var i = 0; i < datafrm[getDataframeIndex()].listColumns().length; i++){
              if (i == new_row.get('index') ){
                datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].drop(String(i));
              }
            }
    
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].transpose();
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].renameAll(['date', 'component', 'data', '_id', 'index', 'img', 'contour']);
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].push(new_row);
            datafrm[getDataframeIndex()] = datafrm[getDataframeIndex()].sortBy('date', true);
            
          }
          
          function getHistory(latitude, longitude){
            var dataframe = getDataframe();
            var history = new DataFrame(
              {
                column1:[],
                colum2: [],
                column3:[],
                colum4: []
              }, ['date', 'component',  'value', 'unit']);
            
            for (var i = 0; i < dataframe.count(); i++){
              var station = getRow(i);
              station = station == null ? getNullRow() : station;
              station = station.get('data');
              station = station.find(row => row.get('latitude') == latitude && row.get('longitude') == longitude);
              
              if(station){
                history = history.push( [station.get('toTime'), station.get('component'), station.get('value'), station.get('unit')] );
              }
            }
            
            return history;
          }
          
          function getHistoryAtTime(latitude, longitude, date){
            var dataframe = getDataframe();
            var history = new DataFrame(
              {
                column1:[],
                colum2: [],
                column3:[],
                colum4: []
              }, ['date', 'component',  'value', 'unit']);
            
            for (var i = 0; i < dataframe.count(); i++){
              var station = getRow(i);
              station = station == null ? getNullRow() : station;
              station = station.get('data');
              station = station.find(row => row.get('latitude') == latitude && row.get('longitude') == longitude);
              
              if(station){
                var time = new Date( station.get('toTime') );
                
                if (getTimeFromObj(time) == getTimeFromObj(date)){
                  history = history.push( [station.get('toTime'), station.get('component'), station.get('value'), station.get('unit')] );
                }
              }
            }
            return history;
          }
     
          function getStats(latitude, longitude){ 
            var stats = [];
            try {
              stats = getHistory(latitude, longitude).stat.stats('value');
            }catch (err){
              console.error(err);
              var history = new DataFrame(
              {
                column1:[0], colum2: [0], column3:[0], colum4: [0]
              }, ['date', 'component',  'value', 'unit']);
            
              stats = history.stat.stats('value');
            }
            return stats;
          }
          function getStatsAt(latitude, longitude, date){ 
            var stats = [];
            try {
              stats = getHistoryAtTime(latitude, longitude, date).stat.stats('value');
            }catch (err){
              console.error(err);
              var history = new DataFrame(
              {
                column1:[0], colum2: [0], column3:[0], colum4: [0]
              }, ['date', 'component',  'value', 'unit']);
            
              stats = history.stat.stats('value');
            }
            
            return stats;
          }
    </script>

    <script>
        function start(){
          loadmap();
          load_for();
        }
        
        function getTimeFromObj(dateobj) {
          dateobj = new Date(dateobj);
          var h = dateobj.getHours();
          var m = dateobj.getMinutes();
          var s = dateobj.getSeconds();
          
          h = h > 10 ? h : "0" + h;
          m = m > 10 ? m : "0" + m;
          s = s > 10 ? s : "0" + s;
          
          return h + ":" + m + ":" + s;
        }
        
        
        function load(id){
         $.get( '/img/' + id , function(data, status) {
          }).done(function() {
            //when the request has finished:
            
            var img = new Image();
            img.src = '/img/' + id;
            img.title = id;
            
            changeRowValue_id(id, 'img', img);
            incrementLoaded();
          }).fail(function() {
            //when the request has failed:
            setLoadingTextFailure();
            console.error( id, "loading contour failed for", id);
          });
          
          $.get( '/contour/' + id , function(data, status) {
          }).done(function() {
            //when the request has finished:
            var contour = new Image();
            contour.src = '/contour/' + id;
            contour.title = id;
            
            changeRowValue_id(id, 'contour', contour);
            incrementLoaded();
          }).fail(function() {
            //when the request has failed:
            setLoadingTextFailure();
            console.error( "loading contour failed for", id);
          });
        }
        
        function load_for(){
          //range of indexes to preload
          var range = getRange();
          //reset load counter
          resetLoaded();
          
          var dataframe = getDataframe();
          var dataArray = dataframe.toArray();
          for(var i = 0; i < range; i++){
            if(dataArray[i][5] == null){
              load( dataArray[i][3] );
            } else {
              incrementLoaded();
              incrementLoaded();
            }
          }
        }
        
        function updateMap(){
          row = getRow( getDisplay_index() );
          row = row == null ? getNullRow() : row;
          var data = row.get('data');
          var img = row.get('img');
          var contour = row.get('contour');
          var date = new Date (row.get('date'));
          
          setDate(date.toLocaleString());
          
          if(img){
          setImg(img.src);
          }else{
            setImg("")
            console.error ("something went wrong! ", row)
          }
          
          if(getContourToggle() == 'true'){
            setContour(contour.src);
          }else{
            setContour("");
          }
         
          
          clearFeatures();
          chainAddFeature(date, data);
        }
        
        function next(){
          var range = getRange()-1;
          if ( getDisplay_index() < range ){
            setDisplay_index( getDisplay_index() + 1);
            updateSliderValue();
            updateMap();
          }
        }
        
        function previous(){
          var range = getRange()-1;
          getDisplay_index();
          if ( getDisplay_index() > 0 ){
            setDisplay_index( getDisplay_index() - 1);
            updateSliderValue();
            updateMap();
          }
        }
        
        //helper functions
        function addHours(dateobj, hours){
          var date = moment(dateobj);
          date.add(hours, 'hours');
          
          return date;
        }
        function subtractHours(dateobj, hours){
          var date = moment(dateobj);
          date.subtract(hours, 'hours');
          
          return date.toDate();
        }
        
        function chainAddFeature(date, data){
          var decimal_places = 3; //how many decimal places to include in the table of stats
         
         //get dates with 3 hour interval.
          var left_date1 = subtractHours(date, 3);
          var left_date2 = subtractHours(left_date1, 3);
          var right_date1 = addHours(date, 3);
          var right_date2 = addHours(right_date1, 3);
          
          var left1 = getRow( getDisplay_index()+1 );
          //test if left1 is null or not, if it is put a nullrow;
          left1 = left1 == null ?  getNullRow() : left1;
          //test for if its the right time stamp
          left1 = new Date(left1.get('date')).toJSON() == left_date1.toJSON() ? left1 : getNullRow();
          //get the station data
          left1 = left1.get('data');
          var left2 = getRow( getDisplay_index()+2 );
          //test for null
          left2 = left2 == null ?  getNullRow() : left2;
          //test for if its the right time stamp
          left2 = new Date(left2.get('date')).toJSON() == left_date2.toJSON() ? left2 : getNullRow();
          //get the station data
          left2 = left2.get('data');
          
          var right1 = getRow( getDisplay_index()-1 );
          //test if right1 is null or not, if it is put a nullrow;
          right1 = right1 == null ?  getNullRow() : right1;
          //test for if its the right time stamp
          right1 = new Date(right1.get('date')).toJSON() == right_date1.toJSON() ? right1 : getNullRow();
          //get the station data
          right1 = right1.get('data');
          var right2 = getRow( getDisplay_index()-2 );
          //test for null
          right2 = right2 == null ?  getNullRow() : right2;
          //test for if its the right time stamp
          right2 = new Date(right2.get('date')).toJSON() == right_date2.toJSON() ? right2 : getNullRow();
          //get the station data
          right2 = right2.get('data');
          
          
          
          
          
          data.chain(
            row => row.set('history', getStats(parseFloat(row.get('latitude')), parseFloat(row.get('longitude')))),
            row => row.set('historyAtTime', getStatsAt(parseFloat(row.get('latitude')), parseFloat(row.get('longitude')), date)),
            row => row.set('historyAtTimeleft1', getStatsAt(parseFloat(row.get('latitude')), parseFloat(row.get('longitude')), left_date1)),
            row => row.set('historyAtTimeleft2', getStatsAt(parseFloat(row.get('latitude')), parseFloat(row.get('longitude')), left_date2)),
            row => row.set('historyAtTimeright1', getStatsAt(parseFloat(row.get('latitude')), parseFloat(row.get('longitude')), right_date1)),
            row => row.set('historyAtTimeright2', getStatsAt(parseFloat(row.get('latitude')), parseFloat(row.get('longitude')), right_date2)),
            row => addFeature(
              //gps location
              parseFloat(row.get('latitude')), 
              parseFloat(row.get('longitude')),
              
              //title
              "<h4>Messuring " + row.get('component')+ "</h4>"
              +"<br>"
              +"<table>"
                +"<tr>"
                  +"<td>Date&ensp;</td>"
                  +"<td>"+date.toLocaleString()+"</td>"
                +"</tr>"
                +"<tr>"
                  +"<td>Value&ensp;</td>"
                  +"<td>"+row.get('value') + " " + row.get('unit')+"</td>"
                +"</tr>"
              ,
              //content
              "<b>historical statistics</b>" 
              +"<table>"
                +"<tr>"
                  +"<th></th>"+"<th>&ensp;total</th>"
                  +"<th>"+getTimeFromObj(date)+"</th>"
                +"</tr>"
                +"<tr>"
                  +"<td>avarage </td>"
                  +"<td>"+ row.get('history').mean.toFixed(decimal_places) +"</td>"
                  +"<td>&ensp;"+row.get('historyAtTime').mean.toFixed(decimal_places)+"</td>"
                +"</tr>"
                +"<tr>"
                  +"<td>min </td>"
                  +"<td>"+row.get('history').min.toFixed(decimal_places)+"</td>"
                  +"<td>&ensp;"+row.get('historyAtTime').min.toFixed(decimal_places)+"</td>"
                +"</tr>"
                +"<tr>"
                  +"<td>max </td>"
                  +"<td>"+row.get('history').max.toFixed(decimal_places)+"</td>"
                  +"<td>&ensp;"+row.get('historyAtTime').max.toFixed(decimal_places)+"</td>"
                +"</tr>"
                +"<tr>"
                  +"<td>variance </td>"
                  +"<td>"+row.get('history').var.toFixed(decimal_places)+"</td>"
                  +"<td>&ensp;"+row.get('historyAtTime').var.toFixed(decimal_places)+"</td>"
                +"</tr>"
                +"<tr>"
                  +"<td>standard deviation&ensp;</td>"
                  +"<td>"+row.get('history').sd.toFixed(decimal_places)+"</td>"
                  +"<td>&ensp;"+row.get('historyAtTime').sd.toFixed(decimal_places)+"</td>"
                +"</tr>"
              +"</table>"
              
              +"<canvas id='chart' width='200' height='200'></canvas>",
              
              //data to put in chart
              
              //current values
              [ ( left2.find({'latitude': row.get('latitude')}, {'longitude': row.get('longitude')}) == null ? null : left2.find({'latitude': row.get('latitude')}, {'longitude': row.get('longitude')}).get('value') ), 
                ( left1.find({'latitude': row.get('latitude')}, {'longitude': row.get('longitude')}) == null ? null : left1.find({'latitude': row.get('latitude')}, {'longitude': row.get('longitude')}).get('value') ),
                row.get('value'),
                ( right1.find({'latitude': row.get('latitude')}, {'longitude': row.get('longitude')}) == null ? null : right1.find({'latitude': row.get('latitude')}, {'longitude': row.get('longitude')}).get('value')), 
                ( right2.find({'latitude': row.get('latitude')}, {'longitude': row.get('longitude')}) == null ? null : right2.find({'latitude': row.get('latitude')}, {'longitude': row.get('longitude')}).get('value'))
              ], 
              
              //average values
              [{ x: left_date2, y: row.get('historyAtTimeleft2').mean }, { x: left_date1 , y: row.get('historyAtTimeleft1').mean }, 
              { x: date, y: row.get('historyAtTime').mean },
              { x: right_date1, y: row.get('historyAtTimeright1').mean }, { x: right_date2, y: row.get('historyAtTimeright2').mean } ], 
              
              //labels
              [left_date2, left_date1, date, right_date1, right_date2],
              row.get('unit')
              ), row => ""
          );
        }
    </script>
</head>

<body onload="start()">
    <input type="hidden" id="component" value="0">
    <input type="hidden" id="load_range" value="1">
    <input type="hidden" id="contour_toggle" value=false>

    <div id="info" style="display:none"> </div>

    <div id="sidebar" class="sidebar sidebar-right collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#academic" role="tab"><i class="fa fa-graduation-cap"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Oslo Air Quality
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <br>
                <p>The map shows the concentration of different air components that can have negative health effects.</p>
                <img src="{{ url_for('static', filename='./gradiant.png') }}" id="gradiantIMG">
                <br><br>
                <p>The colour on the map represents the health risk at that point, green indicates no health risk while red indicates a substantial health risk.</p>

                <p>At the bottom left corner you can pick the air component you want to display such as <a href="https://en.wikipedia.org/wiki/Particulates">PM10 or PM2.5</a>.</p>

                <p><a href="https://www.nilu.no/">NILU</a> releases new data which our prediction is based off every 3 hours. Range indicates how many predictions back you want to display. For example 5 would mean 15 hours back. </p>
            </div>

            <div class="sidebar-pane" id="academic">
                <h1 class="sidebar-header">Documentation
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <h3>Oslo Metropolitan University</h3>
                <p>This webapp is part of a bachelor's project at <a href="http://www.hioa.no/">
              Oslo Metropolitan University</a>. We were tasked with creating a tool for displaying the air quality in Oslo and this webapp was the result.</p>
                <h3>IBM</h3>
                <p>This webapp is running on IBM Cloud a cloud developement platform.</p>
                <h3>Nilu</h3>
                <p>To generate this data we use the <a href="https://api.nilu.no/docs/">
              NILU public api</a> which is also used by
                    <a href="http://www.luftkvalitet.info/home.aspx">
              luftkvalitet.info</a>. </p>
            </div>

        </div>
    </div>

    <div id="map" class="map sidebar-map">
        <div id="popup"></div>
    </div>
    <div style="display: none;"></div>
    <label style="display: none;"></label>

</body>

</html>