<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luftkvalitet</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
</head>

<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/antixss.js" type="text/javascript"></script>
  
    <h1>Luftkvalitet!</h1>
    <h3>    
    <a href='/data'>data fra nilu</a>
    <br>
    <a href='/data_min'>data - min</a>
    <br>
    <a href='/data_min_xy'>data - x, y test</a>
    <br>
    <a href='/hello'>hello world</a>
    <br>
    <a href='/plot_data'>plot av data</a>
    <br>
    <a href='/semiovariogram_plot'>semivariogram</a>
    <br>
    <a href='/spherical_model_plot'>spherical model</a>
    <br>
    <a href='/kriging_plot'>kjør kriging script</a>
    <br>
    <a href='/show'> vis data </a>
</body>

</html>
