<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   

    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script src="{{ url_for('static', filename='./proj4js-2.4.3/dist/proj4.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    
    <link href="{{ url_for('static', filename='./ol-geocoder-3.0.1/dist/ol-geocoder.min.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='./ol-geocoder-3.0.1/dist/ol-geocoder.js')}}"></script>
  
  <script>
    var index = 0;
  </script>

  <script type=text/javascript>
  
    var loaded = new Array; 
  
    function load(){
      
      {% for i, row in fdocs.iterrows(): %}        
        $.get( '/img/' + '{{fdocs.loc[i, '_id']}}' , function(data, status) {
          console.log("{{i}}    {{fdocs.loc[i, '_id']}}");
          window.loaded[{{i}}] = new Image();
          window.loaded[{{i}}].src = '/img/' + '{{fdocs.loc[i, '_id']}}';
          
          {% if i == 0 %}
            loadmap();
          {% endif %}
        });
      {% endfor %}
      
    console.log(window.loaded[1])
    }
    
  </script>
  
  
  <script type="text/javascript">
  
   
    var mapImage;

    var imageExtent;
  
    function loadmap(){
      
      window.imageExtent = [
        593065.1648494017,
        6638524.509011956,
        605365.439142052,
        6648891.652304975
      ];
      
      window.mapImage = new ol.layer.Image({
      source: new ol.source.ImageStatic({
        url: '{{url_for('get_img', _id=fdocs.loc[0, '_id']) }}',
        projection: "EPSG:32632",
        imageExtent: window.imageExtent
      }),
      opacity: 0.65
    });
      
      proj4.defs(
        "EPSG:32632",
        "+proj=utm +zone=32 +ellps=WGS84 +datum=WGS84 +units=m +no_defs"
      );
      




var view = new ol.View({
  center: ol.proj.transform(
    ol.extent.getCenter(window.imageExtent),
    "EPSG:32632",
    "EPSG:3857"
  ),
  zoom: 13,
  minZoom: 12,
  maxZoom: 21
});
var map = new ol.Map({
  layers: [
    new ol.layer.Tile({
      source: new ol.source.OSM()
    }),
    window.mapImage
  ],
  target: "map_div",
  loadTilesWhileAnimating: true,
  view: view
});

var geolocation = new ol.Geolocation({
  projection: view.getProjection()
});
function el(id) {
  return document.getElementById(id);
}

el('track').addEventListener('change', function() {
  geolocation.setTracking(this.checked);
});

// update the HTML page when the position changes.
geolocation.on('change', function() {
  el('accuracy').innerText = geolocation.getAccuracy() + ' [m]';
  el('altitude').innerText = geolocation.getAltitude() + ' [m]';
  el('altitudeAccuracy').innerText = geolocation.getAltitudeAccuracy() + ' [m]';
  el('heading').innerText = geolocation.getHeading() + ' [rad]';
  el('speed').innerText = geolocation.getSpeed() + ' [m/s]';
  updateView();
});

// handle geolocation error.
geolocation.on('error', function(error) {
  var info = document.getElementById('info');
  info.innerHTML = error.message;
  info.style.display = '';
});

var accuracyFeature = new ol.Feature();
geolocation.on('change:accuracyGeometry', function() {
  accuracyFeature.setGeometry(geolocation.getAccuracyGeometry());
});

var positionFeature = new ol.Feature();
positionFeature.setStyle(new ol.style.Style({
  image: new ol.style.Circle({
    radius: 6,
    fill: new ol.style.Fill({
      color: '#3399CC'
    }),
    stroke: new ol.style.Stroke({
      color: '#fff',
      width: 2
    })
  })
}));

geolocation.on('change:position', function() {
  var coordinates = geolocation.getPosition();
  positionFeature.setGeometry(coordinates ?
    new ol.geom.Point(coordinates) : null);
});
new ol.layer.Vector({
  map: map,
  source: new ol.source.Vector({
    features: [accuracyFeature, positionFeature]
  })
});

//Centers the view to where the geolocation is
function updateView() {
  view.setCenter(geolocation.getPosition());
}


//Instantiate with some options and add the Control
var geocoder = new Geocoder('nominatim', {
  provider: 'osm',
  lang: 'en',
  placeholder: 'Search for ...',
  limit: 5,
  debug: false,
  autoComplete: true,
  keepOpen: true
});
map.addControl(geocoder);
  
//Listen when an address is chosen
geocoder.on('addresschosen', function (evt) {
	console.info(evt);
  window.setTimeout(function () {
    //popup.show(evt.coordinate, evt.address.formatted);
  }, 3000);
});
  


    }
    
  </script>   
  
   
  <script type=text/javascript>
   
    function detailed(){
      if(document.getElementById("info_").style.display == "inline"){
        document.getElementById("info_").style.display = "none";
      }else{
        document.getElementById("info_").style.display = "inline";
        }
    }
  </script>
  
  

  
  <script>
    function next(){
      if ( window.index < loaded.length ){
        window.index += 1;
        console.log( window.loaded[window.index] );
        
        var nextimg = new ol.source.ImageStatic({
          url: window.loaded[window.index].src,
          projection: "EPSG:32632",
          imageExtent: window.imageExtent
        });
        window.mapImage.setSource(nextimg);
        
        //document.body.appendChild( window.loaded[window.index] );
        console.log(window.index);
        }else {
        console.log("index no index higher", window.index);
      }
    }
    
    function previous(){
      if ( window.index > 0 ){
        index -= 1;
        console.log( window.loaded[window.index] );
        
        var nextimg = new ol.source.ImageStatic({
          url: window.loaded[window.index].src,
          projection: "EPSG:32632",
          imageExtent: window.imageExtent
        });
        window.mapImage.setSource(nextimg);
        console.log(window.index);
      }else {
        console.log("index no index lower than ", window.index);
      }
    }
  </script>
  


</head>

<body onload="load()">

  <Button onclick="previous()">javascript previous</Button>
  ..
  <Button onclick="next()">javascript next</Button>


  <!-- select component drop down menu, if in the middle sets current component -->
  <h3>
    <form action="{{url_for('show_data')}}" methods=['GET']>
      Component:
      <select name="selected_component">
        {% for comp in components : %}
          <option value = {{comp}} 
          
          {% if comp == component : %}
            selected="selected"
          {% endif %} 
          > {{comp}} </option> 
        {% endfor %}
      </select>
      <input type="submit">
    </form>
  </h3>


  <p>
  <form style="display: inline;">
    <input type="hidden" name="index" value="{{index-1}}" >
    <input type="hidden" name="selected_component" value="{{component}}">
    <input type="submit" 
    {% if (index < 1) : %}
      disabled
    {% endif %}
      value="previous">
  </form>
  <form style="display: inline;"> 
    <input type="hidden" name="index" value="{{index+1}}" >
    <input type="hidden" name="selected_component" value="{{component}}">
    <input type="submit"
    {% if index == fdocs.index|length -1: %}
      disabled
    {% endif %}
     value="next">
  </form>
  entries: {{fdocs.index|length}}
  <button id="FindMe" title="Find me" onclick="updateView()">Find me!</button>
  </p>
  <label for="track">
  Track position
  <input id="track" type="checkbox"/>
  position accuracy : <code id="accuracy"></code>&nbsp;&nbsp;
  altitude : <code id="altitude"></code>&nbsp;&nbsp;
  altitude accuracy : <code id="altitudeAccuracy"></code>&nbsp;&nbsp;
  heading : <code id="heading"></code>&nbsp;&nbsp;
  speed : <code id="speed"></code>
  </label>
  <p></p>
  <!-- write out _id, date, component -->
  image database document id: {{ _id }},  index: {{ index }}<br>
  <h2>
  date: {{ date }}, component: {{ component }}
  </h2>
  
  <div id="map_div"></div>

  <button onclick="detailed()">show detailed image</button>
  <img style="display: none; width: 100%" id="info_" src={{url_for('get_info', _id=_id)}}>
   
   
   
   <button onclick="load()">test preload</button>
   <img id="test"  >
</body>

</html>
